body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 100%;
}

.container{
  margin: auto;
  width: 1000px;
  padding-top: 20px;
}

.container .header .logo a:hover{
    color:darkblue;
}

.container .header .nav-bar a:hover{
    color:darkblue;
}

.container .cart .kart{
  padding-right: 7px;
}

.header{
  height: 40px;
  padding-bottom: 25px;
}

.logo{
  float: left;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: #115387;
}

.logo a{
  text-decoration: none;
}

.nav-bar{
  padding-top: 30px;
  float: right;
}

.nav-bar a{
  text-decoration: none;
  margin: 7px 7px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #68c4d3;
	padding: 16px 20px;
}

.container .cart{
    position: absolute;
    left: 70%;
    background-image: url("../images/website_list_page/Rounded-Rectangle-2.png");
    border-radius: 10px;
    width: 140px;
    height: 25px;
    text-align: center;
    color: white;
    font-size: 15px;
    padding-top: 10px;
}

.wrapper-main{
  width: 100%;
  background-image: url("../bg.jpg");
/*  background-image: linear-gradient(pink,blue); */
  height: 720px;
  background-size: cover;
  background-position: center;
}

.main-text{
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.left-container{
  background-color: white;
  height: 400px;
  border-radius: 20px;
  float: left;
  width: 200px;
  max-width: 400px;
  padding: 0 20px 20px 20px;
}

.left-container .lc-heading{
    font-size: 1.3rem;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 200;
    color: rgb(164, 219, 112);
}

.left-container .lc-heading hr{
    width: 70px;
    border-bottom: 0.5px solid rgb(164, 219, 112);
}

.left-container .content{
    text-align: justify;
    font-size: 0.9rem;
    color: rgb(18, 89, 170);
}

.left-container .bottom{
    margin-top: 0.5rem;
    text-align: center;
    height: 27px;
    width: 190px;
    background-image: url("../images/website_list_page/Layer-4.png");
    background-repeat: no-repeat;
}

.right-container{
  float: left;
  padding-left: 25px;
}

.right-container .product-card{
    border-radius: 20px;
    background-color: white;
}

.column {
    float: left;
    width: 170px;
    padding: 0 30px 30px 15px;
  }

  .card {
    padding: 5px;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 20px;
    height: 230px;
    background-image: url("../images/website_list_page/rec-blue.png");
    background-repeat: no-repeat;
  }

  .card .card-head{
      color: white;
      font-weight: 500;
      letter-spacing: 1px;
  }

  .card .card-body{
    height: 120px;
    text-align: center;
    background-image: url("../images/website_product_page/Untitled-3.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 10px;
    margin-left: 2rem;
}

.card .card-foot-1 {
    height: 30px;
    background-image: url("../images/website_list_page/Untitled-2.png");
    background-repeat: no-repeat;
    margin-left: 1.5rem;
}
.card .card-foot-2 {
    height: 30px;
    background-image: url("../images/website_list_page/Untitled-1.png");
    background-repeat: no-repeat;
    margin-left: 1.5rem;
}

.f-bg{
  background-color: floralwhite;
}

.footer{
  padding-bottom: 160px;
}

.footer .title {
  font-weight: 700;
  line-height: 30px;
}

.footer a{
  text-decoration: none;
  color:  blue;
}

.footer a:hover {
  color: #115387;
}

.col1{
  width: 30%;
  float: left;
}

.col1 a{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    padding-top: 10px;
    font-size: 25px;
}

.col2{
  width: 15%;
  letter-spacing: 0.5px;
  color: #68c4d3;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  padding-top: 20px;
  font-size: 15px;
}

.col3{
  width: 15%;
  letter-spacing: 0.5px;
  color: #68c4d3;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  padding-top: 20px;
  font-size: 15px;
}

.col4{
  width: 20%;
  letter-spacing: 0.5px;
  color: #68c4d3;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  padding-top: 20px;
  font-size: 15px;
}

.col5{
  color: #68c4d3;
  float: left;
  letter-spacing: 0.5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  padding-top: 20px;
  font-size: 15px;
}