.{
  margin: 0;
}
.header{
  background-color: #f2f7f6;
}
li{
  float: left;
}
li a{
  text-decoration: none;
  display: block;
  padding-right: 40px;
}
.nav-bar{
  padding-top: 1.4%;
  padding-right: 10%;
  list-style-type: none;
  float: right;
  position: fixed;
  right: 0;
}
.active{
  color: #121a94;
}
.logo{
  font-family:  sans-serif;
  color: #240461;
  font-weight: bold;
  float: left;
  font-size: 30px;
  padding-left: 10%;
  padding-top: 1%;
}
.bg-img{
  background-image: url("bg.jpg");
}
